/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-repeater {
	background-color: #a7bec8;
	padding: 2px;
}
/* Adjust the progress bar height and margins */
.progress {
	margin: 20px 0;
    position: relative;
}

/* Customize the progress bar color */
.progress-bar {
	width: 0;
    height: 20px;
    padding: 2px;
    border-radius: 100px;
    background: #fff;
    transition: 1s cubic-bezier(1, 0, 0.5, 1);
    -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
    -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1);
}

/* Style the text inside the progress bar */
.progress-bar::before {
    content: attr(aria-valuenow) "%"; /* Display the progress value inside the bar */
    position: absolute;
    text-align: right;
    font-size: 0.9em;
    color: #fff;
    font-weight: 400;
    top: 0;
    right: 0;
}
.progress-bar span {
    float: left;
    width: 0;
    background: var(--secondary-color);
    height: 16px;
    border-radius: 100px;
    position: relative;
    transition: 1s cubic-bezier(1, 0, 0.5, 1);
    -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
    -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1);
}